/**####  Estilos Globales  ####**/
* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  font-family: "avenir next";
}

.display-2 {
  font-size: unset;
}

.display-1 {
  font-size: unset;
}

@media only screen and (min-width: 991px) {
  .display-1 {
    display: none;
  }

  .display-none-1 {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .display-2 {
    display: none;
  }

  .display-none-2 {
    display: none;
  }
}
.separation {
  padding: 50px;
}

/**####  Variables  ####**/
/**####  Estilos Unicos  ####**/
.site-wrapper {
  overflow: hidden;
}

.btn {
  border: 0;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 15px;
  background: rgb(250, 165, 32);
  background: linear-gradient(90deg, rgb(250, 165, 32) 0%, rgb(218, 108, 10) 100%);
}

.header-dropdown {
  background: transparent;
  background: rgb(246, 178, 80);
  background: linear-gradient(90deg, rgba(246, 178, 80, 0) 0%, rgba(224, 136, 48, 0) 100%);
}

.header-dropdown:hover {
  color: #ffffff;
}

.nav-link {
  text-decoration: none;
}

.nav-btns {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
}

@media only screen and (max-width: 991px) {
  .nav-btns {
    padding: 5px 12px;
  }
}
.btn-border-gradient__wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: auto;
  height: auto;
  border-radius: 3px;
}

.btn-border-gradient {
  display: inline-block;
  color: #e2930a;
  padding: 1px 15px;
  border-radius: 3px;
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #ffc45e, #d36e1c) 1;
}

.login-btn {
  border-radius: 3px;
  padding: 5px 12px;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: rgb(252, 191, 90);
  background: linear-gradient(90deg, rgb(252, 191, 90) 0%, rgb(214, 115, 32) 100%);
}
.login-btn img {
  width: 8px;
  margin-right: 5px;
}

.btn-accordion {
  background: transparent;
}

@media only screen and (min-width: 991px) {
  .header {
    background-image: url(../../imagenes/background-header.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .header {
    background-image: url(../../imagenes/bg-header__mobile.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}
.header {
  color: #ffffff;
  border-bottom: 1px solid #f0a747;
}
.header .my-container {
  max-width: 1355px;
  text-align: center;
}
.header .my-container .header-buttons .btn {
  width: 100%;
  height: 80px;
  padding: 0;
  border-radius: 0;
  letter-spacing: 0;
}
.header .my-container .header-buttons .header-buttons__gold {
  border-right: 2px solid #dc8f34;
  background: rgb(224, 136, 48);
  background: linear-gradient(90deg, rgb(224, 136, 48) 0%, rgb(246, 177, 80) 100%);
}
.header .my-container .header-buttons .header-buttons__gold img {
  width: 25px;
  height: 23px;
}
@media only screen and (min-width: 1199px) {
  .header .my-container .header-buttons .header-buttons__gold {
    border-radius: 5px 0 0 5px;
  }
}
.header .my-container .header-buttons .header-buttons__started {
  background: rgb(255, 196, 94);
  background: radial-gradient(circle, rgb(255, 196, 94) 0%, rgb(246, 179, 81) 100%);
}
.header .my-container .header-buttons .header-buttons__started img {
  width: 28px;
  height: 33px;
}
.header .my-container .header-buttons .header-buttons__apply {
  border-left: 2px solid #dc8f34;
  background: rgb(246, 178, 80);
  background: linear-gradient(90deg, rgb(246, 178, 80) 0%, rgb(224, 136, 48) 100%);
}
.header .my-container .header-buttons .header-buttons__apply img {
  width: 24px;
  height: 22px;
}
.header .my-container .header-buttons .icons {
  line-height: 85px;
  color: #000000;
  font-size: 17px;
  font-weight: 600;
}
.header .my-container .header-buttons .icons img {
  margin-top: -5px;
  margin-right: 10px;
}
@media only screen and (min-width: 1199px) {
  .header .my-container .header-buttons {
    padding: 0 77px;
  }
}
.header .my-container .top-nav {
  padding-top: 35px;
  margin-bottom: 200px;
}
.header .my-container .top-nav .logo {
  width: 160px;
}
.header .my-container .top-nav .collapse {
  justify-content: end;
}
@media only screen and (min-width: 991px) {
  .header .my-container .top-nav .collapse .navbar-nav {
    display: flex;
    align-items: center;
  }
}
.header .my-container .top-nav .collapse .dropdown .dropdown-menu {
  background-color: #1e2429;
  opacity: 0.5;
  width: 100%;
}
.header .my-container .top-nav .collapse .dropdown .dropdown-menu .dropdown-item {
  border-top: 1px solid #353e46;
  color: #e2930a;
}
.header .my-container .top-nav .collapse .dropdown .dropdown-menu .header-dropdown__bullion {
  border-top: 0;
}
@media only screen and (max-width: 991px) {
  .header .my-container .top-nav {
    text-align: left;
  }
}
.header .my-container .carousel .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 300px;
  height: 3px;
  margin-right: 0;
  margin-left: 0;
  text-indent: -999px;
  background-color: #e2930a;
}
.header .my-container .carousel .carousel-inner .carousel-item .header-content {
  margin-bottom: 150px;
}
.header .my-container .carousel .carousel-inner .carousel-item .header-content .hard-text {
  text-transform: uppercase;
  color: #e2930a;
  letter-spacing: 4.5px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.header .my-container .carousel .carousel-inner .carousel-item .header-content .header-tittle {
  font-size: 62px;
}
@media only screen and (max-width: 768px) {
  .header .my-container .carousel .carousel-inner .carousel-item .header-content .header-tittle {
    font-size: 42px;
  }
}
.header .my-container .carousel .carousel-inner .carousel-item .header-content .header-text__two {
  margin-top: 30px;
  letter-spacing: 1px;
}
.header .my-container .carousel .carousel-inner .carousel-item .header-content .header-text__two span {
  font-weight: bold;
  margin: 0 3px;
}
.header .my-container .carousel .carousel-inner .carousel-item .header-content .header-btn {
  margin-top: 40px;
  padding: 6px 10px 4px 20px;
  color: #000000;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: -0.1px;
  background: rgb(249, 185, 86);
  background: linear-gradient(90deg, rgb(249, 185, 86) 0%, rgb(217, 121, 37) 100%);
}
.header .my-container .carousel .carousel-inner .carousel-item .header-content .header-btn .header-btn__icon {
  width: 30px;
  box-shadow: 0px 0px 10px #e59341;
  border-radius: 1000px;
  margin-left: 10px;
  margin-top: -5px;
}

/**####  Estilos  ####**/
.imagined-section {
  font-weight: 400;
  margin-top: 80px;
}
.imagined-section .container .imagined-section__content {
  margin-top: 110px;
}
.imagined-section .container .imagined-section__content p {
  margin: 30px 0;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 1px;
}
.imagined-section .container .imagined-section__content .col .btn {
  margin-top: 6px;
  box-shadow: -5px 5px 15px #e0d5c6;
  padding: 5px 17px;
}
.imagined-section .container .imagined-section__content .col .last-btn {
  margin-top: 40px;
}
.imagined-section .container .imagined-section__content .col .account {
  color: #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
  margin-left: 20px;
  font-size: 16px;
}
.imagined-section .container .imagined-section__tittle {
  letter-spacing: 1px;
  text-align: center;
}
.imagined-section .container .imagined-section__tittle span {
  color: #e28b32;
}
@media only screen and (min-width: 1199px) {
  .imagined-section .container .imagined-section__tittle {
    padding: 0 20% 0;
  }
}

.imagined-section__mobile {
  font-weight: 400;
  margin-top: 80px;
}
.imagined-section__mobile .container {
  width: 85%;
  text-align: center;
}
.imagined-section__mobile .container .imagined-section__content {
  margin-top: 70px;
}
.imagined-section__mobile .container .imagined-section__content h2 {
  margin-bottom: 40px;
  font-size: 26px;
}
.imagined-section__mobile .container .imagined-section__content .imagined-section__content--text {
  margin: 0px 0;
  margin-bottom: 40px;
  line-height: 35px;
  font-size: 20px;
  letter-spacing: 1.3px;
}
.imagined-section__mobile .container .imagined-section__content .col .imagined-section__content--button {
  margin: 0;
  padding: 10px 30px;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 19px;
  background: rgb(250, 165, 32);
  background: linear-gradient(90deg, rgb(250, 165, 32) 0%, rgb(218, 108, 10) 100%);
  margin: 0 6px;
}
@media only screen and (max-width: 991px) {
  .imagined-section__mobile .container .imagined-section__content .col .imagined-section__content--button {
    margin: 0 10px;
    padding: 6px 24px;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 16px;
    background: rgb(250, 165, 32);
    background: linear-gradient(90deg, rgb(250, 165, 32) 0%, rgb(218, 108, 10) 100%);
  }
}
.imagined-section__mobile .container .imagined-section__content .col .open-text {
  color: #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
  margin-left: 10px;
  font-size: 16px;
}
@media only screen and (max-width: 991px) {
  .imagined-section__mobile .container .imagined-section__content .col a {
    margin-left: 0;
  }
}
.imagined-section__mobile .container .imagined-section__content .col img {
  margin-bottom: 40px;
}
.imagined-section__mobile .container .imagined-section__tittle {
  letter-spacing: 1px;
  text-align: center;
}
.imagined-section__mobile .container .imagined-section__tittle span {
  color: #e28b32;
}
@media only screen and (max-width: 768px) {
  .imagined-section__mobile .container .imagined-section__tittle {
    font-size: 20px;
  }
}

.powerful-list__mobile {
  margin-bottom: 60px;
  font-weight: 400;
  /* padding-left: 75px; */
  padding: 0 15%;
}
.powerful-list__mobile .powerful-list__content {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 30px;
}
.powerful-list__mobile .powerful-list__content .powerful-list__content--img {
  width: 24px;
  margin: 0 13px 0 0 !important;
}
.powerful-list__mobile .powerful-list__content .powerful-list__content--text {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .powerful-list__mobile {
    padding: 0 25%;
  }
}
.powerful-list {
  font-weight: 400;
  /* padding-left: 75px; */
  display: flex;
}
.powerful-list .powerful-list__content {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
}
.powerful-list .powerful-list__content .powerful-list__content--img {
  width: 24px;
  margin: 0 13px 0 0 !important;
}
.powerful-list .powerful-list__content .powerful-list__content--text {
  margin: 0 !important;
}

.why-us {
  background-image: url(../../imagenes/bg-002.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-us {
  font-weight: 400;
  margin-top: 50px;
  padding: 80px 0;
}
.why-us .my-container {
  color: #ffffff;
  text-align: center;
}
.why-us .my-container .button-section {
  margin-top: 100px;
}
.why-us .my-container .button-section .why-us__button--tittle {
  font-size: 24px;
  margin-bottom: 30px;
}
.why-us .my-container .button-section .btn {
  padding: 5px 17px 6px;
}
.why-us .my-container .why-us__title {
  letter-spacing: 2px;
  margin-right: 10px;
}
.why-us .my-container .row .why-us__content {
  margin-top: 100px;
  padding: 20px 60px;
  position: relative;
}
.why-us .my-container .row .why-us__content .why-us__content--img {
  width: 180px;
  position: absolute;
  left: 179px;
  top: -37px;
}
@media only screen and (max-width: 576px) {
  .why-us .my-container .row .why-us__content .why-us__content--img {
    width: 180px;
    position: absolute;
    left: 34%;
    right: 44%;
  }
}
@media only screen and (min-width: 769px) {
  .why-us .my-container .row .why-us__content .why-us__content--img {
    width: 180px;
    position: absolute;
    left: 269px;
    top: -37px;
  }
}
@media only screen and (min-width: 991px) {
  .why-us .my-container .row .why-us__content .why-us__content--img {
    width: 180px;
    position: absolute;
    left: 21%;
    top: -20%;
  }
}
@media only screen and (min-width: 1199px) {
  .why-us .my-container .row .why-us__content .why-us__content--img {
    width: 190px;
    position: absolute;
    left: 24%;
    top: -25%;
  }
}
.why-us .my-container .row .why-us__content .why-us__content--text {
  margin-top: -30px;
}
.why-us .my-container .row .why-us__content .why-us__content--text .tittle {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.why-us .my-container .row .why-us__content .why-us__content--text .text {
  letter-spacing: 0.5px;
  font-size: 16px;
  padding: 0 63px;
  line-height: 27px;
}
@media only screen and (min-width: 991px) {
  .why-us .my-container .row .why-us__content .why-us__content--text .text {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 0 0px;
    line-height: 27px;
  }
}
@media only screen and (max-width: 550px) {
  .why-us .my-container .row .why-us__content .why-us__content--text .text {
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 0 0px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 991px) {
  .why-us .my-container .row .why-us__lines {
    border-left: 1px solid #305071;
    border-right: 1px solid #305071;
  }
}

.resource {
  background-color: #f7f6f3;
  width: 100%;
}

.resource {
  padding: 75px 0;
}
.resource .resource-content .resource-content__text--1 {
  color: #e2930a;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 3px;
}
.resource .resource-content .resource-content__tittle {
  font-size: 33px;
}
.resource .resource-content .resource-content__text--2 {
  font-size: 18.5px;
  padding-right: 19px;
}
.resource .resource-form {
  position: relative;
  display: flex;
  margin-right: -225px;
}
.resource .resource-form img {
  width: 635px;
}
.resource .resource-form .resource-form-inputs {
  box-shadow: -25px 28px 15px -20px #dbdad7;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -161px;
  bottom: 30px;
  width: 300px;
}
.resource .resource-form .resource-form-inputs .form-tittle {
  margin-bottom: 0;
}
.resource .resource-form .resource-form-inputs .form-text {
  font-size: 13px;
  margin-bottom: 15px;
}
.resource .resource-form .resource-form-inputs .submit-text {
  font-size: 10px;
}
.resource .resource-form .resource-form-inputs .check-form__icon {
  width: 16px;
  margin-right: 5px;
}
.resource .resource-form .resource-form-inputs .resource-form__input {
  margin: 7px 0;
  border: 1px solid #e2930a;
  border-radius: 5px;
  padding: 4px 15px 3px;
}
.resource .resource-form .resource-form-inputs .resource-form__submit {
  border-radius: 7px;
  padding: 10px 0;
  border: 0;
  color: #ffffff;
  width: 85%;
  margin-left: 20px;
  background: rgb(246, 178, 80);
  background: linear-gradient(90deg, rgb(246, 178, 80) 0%, rgb(217, 108, 10) 100%);
}
@media only screen and (max-width: 991px) {
  .resource .resource-form .resource-form-inputs {
    box-shadow: -25px 28px 15px -20px #dbdad7;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -258px;
    left: 11%;
    width: 300px;
  }
  .resource .resource-form .img-mobile {
    width: 250px;
    margin-left: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .resource {
    text-align: center;
    padding: 25px 0;
    padding-bottom: 310px;
  }
  .resource .resource-form {
    margin-right: 0;
    margin-left: 140px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .resource .resource-form {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .resource .resource-form {
    margin-left: 9%;
  }
  .resource .resource-form .img-mobile {
    margin-left: 10%;
  }
  .resource .resource-form .resource-form-inputs {
    left: 5%;
  }
}
.footer {
  background-color: #1e2a36;
  padding: 100px 0;
}

@media (min-width: 991px) {
  .footer .my-container {
    max-width: 1220px;
  }
}
.footer .row .logo-footer .logo {
  width: 200px;
}
.footer .row .logo-footer .icons {
  margin-top: 30px;
}
.footer .row .logo-footer .icons .icon-item {
  margin-right: 15px;
}
.footer .row .logo-footer .icons .fb-icon {
  width: 7px;
}
.footer .row .logo-footer .icons .tw-icon {
  width: 15px;
}
.footer .row .logo-footer .icons .yt-icon {
  width: 15px;
}
.footer .row .logo-footer .icons .ms-icon {
  width: 15px;
}
@media only screen and (max-width: 991px) {
  .footer .row .logo-footer .icons {
    margin-left: 8%;
    margin-top: 0;
  }
}
@media only screen and (max-width: 991px) {
  .footer .row .logo-footer {
    display: flex;
    justify-content: space-between;
  }
}
.footer .row .col .footer-lists {
  color: #ffffff;
}
.footer .row .col .footer-lists .footer-lists__content .tittle {
  color: #d78d0f;
  font-weight: 500;
  font-size: 17px;
}
.footer .row .col .footer-lists .footer-lists__content .list {
  list-style: none;
}
.footer .row .col .footer-lists .footer-lists__content .list li {
  font-size: 13px;
  color: #e6e7e7;
  line-height: 30px;
}
.footer .row .col .footer-lists .footer-lists__content .list li span {
  font-weight: 600;
}
.footer .row .col .footer-lists .footer-lists__content .list li a {
  text-decoration: none;
  color: #e6e7e7;
}
.footer .row .col .footer-lists .footer-lists__content .list li a span {
  font-weight: 600;
}
@media only screen and (max-width: 991px) {
  .footer .row .col .footer-lists {
    margin-top: 50px;
  }
}

.testimonials {
  margin-top: 250px;
  margin-bottom: 500px;
}
.testimonials .my-container {
  position: relative;
}
.testimonials .my-container .slider {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 88%;
  height: 200px;
  overflow: hidden;
}
.testimonials .my-container .slider .slider-inner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 200%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  pointer-events: none;
}
.testimonials .my-container .slider .slider-inner .slide-img {
  height: 100%;
  background-color: black;
  text-align: center;
  padding: 3rem;
}
.testimonials .my-container .slider .slider-inner .slide-img i {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  pointer-events: auto;
  cursor: pointer;
}
.testimonials .my-container .slider .slider-inner .slide-img i:hover {
  color: rgb(167, 11, 245);
}

/*# sourceMappingURL=my-styles.css.map */
